* {
  box-sizing: border-box;
  margin: 0;
  overflow: hidden;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  min-height: 10vh;
  min-width: 100vw;
  background-color: #e7d1a0;
  flex: 0 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#title {
  font-size: 1.5rem;
  min-width: 100vw;
  text-align: center;
  color: #796c4b;
  flex: 0 0;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-size: 16px;

  min-width: 100vw;
  flex: 0 0;
}

button {
  font-size: 1em;
  color: #e7d1a0;
  padding: 5px 40px 5px 40px;
  border: 0;
  border-radius: 10px;
  background-color: #796c4b;
  outline: none;
}

.sliderContainer {
  min-width: 15vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sliderContainer.enabled {
  opacity: 0.8;
}

#lengthLabel {
  text-align: center;
  color: #796c4b;
  min-width: 100%;
}

#lengthSlider {
  -webkit-appearance: none;
  appearance: none;
  min-width: 100%;
  height: 20px;
  border-radius: 5px;
  background: #796c4b;
  outline: none;
}

#lengthSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background: #4caf50;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  border: 0 !important;
  background: #796c4b;

  flex: 1;
  padding: 0 0.5em;
  color: #e7d1a0;
}
select::-ms-expand {
  display: none;
}
.select {
  position: relative;
  display: flex;
  min-width: 10vw;
  min-height: 2rem;
  line-height: 2;
  background: #796c4b;
  overflow: hidden;
  border-radius: 5px;
}

.select::after {
  content: "\25BC";
  position: relative;
  bottom: 0;
  right: 0;
  padding-right: 3px;
  background: #796c4b;
  pointer-events: none;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.select.enabled:hover::after {
  color: #e7d1a0;
}

.enabled {
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: all 0.2s;
}

.enabled:hover {
  opacity: 1;
  cursor: pointer;
}

.disabled {
  opacity: 0.3;
}

#container {
  min-height: 90vh;
  min-width: 100vw;
  padding-top: 20px;
  background-color: #eee3d2;
  flex: 1 1 0;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

.rect {
  background-color: #796c4b;
  opacity: 0.6;
  border: 1px solid #eee3d2;
  flex: 1 1 0;
}

.finalPos {
  background-color: #05be05cc;
}

.comparing {
  background-color: red;
}
